* {
  margin: 0;
  padding: 0;
  border: transparent;
  outline: transparent;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "egoe UI Emoji", "Segoe UI Symbol"; }

body {
  background-color: #fff;
  padding-top: 80px; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

textarea {
  resize: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.fl {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; }
  .fl_jus_bet {
    justify-content: space-between; }
  .fl_jus_cen {
    justify-content: center; }
  .fl_dir_col {
    flex-direction: column; }
  .fl_center {
    align-items: center;
    justify-content: center; }
  .fl_ali_cen {
    align-items: center; }

.header {
  width: 100%;
  height: 80px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, green, rgba(0, 0, 0, 0)) 0 1 100% 0;
  position: fixed;
  margin-top: -80px;
  background-color: #33333A;
  padding: 0 20px 0 20px; }
  .header__nav {
    height: 80px; }
  .header__sidebar img {
    margin-top: 20px;
    width: 40px;
    height: 40px; }
    .header__sidebar img:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4);
      border: 1px solid rgba(112, 112, 112, 0.6); }
  .header__logo {
    width: 250px;
    height: 60px;
    background-image: url("https://kb.sambapos.com/wp-content/themes/sambapos_kb/assets/img/logo.png");
    background-size: cover; }
  .header__search {
    max-height: 50px;
    margin-top: 15px;
    margin-left: 50px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden; }
    .header__search:hover {
      border: 1px solid #4d4848;
      border-radius: 3px; }
    .header__search__input {
      font-size: 14px;
      padding: 5px;
      background: transparent;
      color: #f5f5f5; }
    .header__search__button {
      margin-right: 6px;
      padding: 5px;
      border-radius: 2px;
      background-color: #707070;
      color: #f3f3f3; }
      .header__search__button:hover {
        cursor: pointer;
        background: rgba(127, 127, 127, 0.4); }
      .header__search__button--detailed {
        padding: 5px;
        border-radius: 2px;
        background-color: #707070;
        color: #f3f3f3; }
        .header__search__button--detailed:hover {
          cursor: pointer;
          background: rgba(127, 127, 127, 0.4); }
  .header__signin {
    font-size: 16px;
    line-height: 70px;
    padding: 10px;
    border-radius: 2px;
    color: #7a7274;
    font-weight: 500;
    color: #f3f3f3;
    border: 1px solid transparent; }
    .header__signin:hover {
      background: linear-gradient(#73c8a9, #323238);
      border: 1px solid #33333A; }
  .header__cart {
    transition-duration: 0.5s; }
    .header__cart:hover {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }
  .header__cart img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer; }

@media (max-width: 885px) {
  .header__search {
    margin: 0;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    background-image: url("https://ellaora.com/wp-content/uploads/2019/02/search-icon-png-23.png");
    background-size: cover;
    background-repeat: no-repeat; }
    .header__search__input {
      display: none; }
    .header__search__button {
      display: none; }
      .header__search__button--detailed {
        display: none; } }

@media (max-width: 570px) {
  .header__logo {
    width: 100px;
    margin-top: 10px;
    height: 30px;
    background-image: none;
    background-repeat: no-repeat; }
  .header__search {
    margin-top: 20px;
    width: 50px;
    height: 30px; }
  .header__sidebar img {
    margin-top: 20px;
    width: 30px;
    height: 30px; }
  .header__cart img {
    margin-top: 15px;
    width: 30px;
    height: 30px; } }

.sidebar {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  margin-top: -80px;
  transition: 3s; }
  .sidebar__rightside {
    display: none;
    background-color: #000000;
    opacity: 0.3;
    width: calc(100% - 300px);
    height: 100vh;
    position: fixed;
    right: 0; }
  .sidebar__container {
    width: 300px;
    height: 100vh;
    background-color: #BDD358;
    border-right: 3px solid #515153;
    box-shadow: 0 0 150px black; }
  .sidebar__header {
    height: 80px;
    padding: 20px;
    font-size: 25px;
    color: #c9cac1;
    background-color: #343A18;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to left, green, rgba(0, 0, 0, 0)) 0 1 100% 0; }
  .sidebar__productitem {
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #504545;
    text-align: center; }
    .sidebar__productitem:hover {
      cursor: pointer;
      background-color: #cbd2ae; }

@media (max-width: 885px) {
  .sidebar__container {
    width: 200px; }
  .sidebar__rightside {
    width: calc(100% - 200px); } }

.product {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 100px; }
  .product__image {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 0 10px;
    background: #d6d6d7;
    height: calc(100% - 180px);
    margin-right: 40px; }
    .product__image img {
      width: 100%;
      height: auto;
      border-radius: 10px; }
    .product__image--container {
      margin-top: 5px;
      width: 100%;
      display: flex; }
    .product__image__wrapper {
      width: 160px;
      height: 100px;
      margin-right: 5px; }
      .product__image__wrapper img {
        width: 100%;
        height: auto; }
        .product__image__wrapper img:hover {
          border: 1px solid #000000; }
  .product__info {
    width: 650px;
    margin: 0 auto; }
    .product__info__rating {
      padding: 40px; }
      .product__info__rating--like {
        background: none;
        border-radius: 50%;
        cursor: pointer; }
        .product__info__rating--like img {
          width: 50px;
          height: 50px;
          margin: 10px; }
        .product__info__rating--like:hover {
          background: #EFE16F; }
        .product__info__rating--like:active {
          background: #E9D431;
          top: 2px; }
      .product__info__rating--dislike {
        background: none;
        border-radius: 50%;
        cursor: pointer; }
        .product__info__rating--dislike img {
          margin: 10px;
          width: 50px;
          height: 50px; }
        .product__info__rating--dislike:hover {
          background: #F74545; }
        .product__info__rating--dislike:active {
          background: #F51717;
          top: 2px; }
      .product__info__rating--count {
        font-size: 20px;
        font-weight: 500;
        padding: 20px; }
    .product__info__header {
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 30px; }
    .product__info__description {
      color: #302f28;
      font-size: 20px;
      margin-bottom: 30px;
      width: 200px !important; }
    .product__info__feedback {
      width: calc(100% - 60px);
      margin-top: 50px;
      margin-bottom: 50px; }
      .product__info__feedback__input {
        width: 500px;
        height: 80px;
        margin-right: 30px; }
      .product__info__feedback__button {
        width: 200px;
        height: 40px;
        margin-top: 40px; }

.login {
  width: 600px;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box; }
  .login__username {
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    padding: 5px;
    transition-duration: 0.4s; }
    .login__username:hover {
      border: 1px solid grey;
      border-radius: 2px; }
  .login__password {
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    padding: 5px;
    transition-duration: 0.4s; }
    .login__password:hover {
      border: 1px solid grey;
      border-radius: 2px; }
  .login__signin {
    padding: 5px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3; }
    .login__signin:hover {
      background: rgba(127, 127, 127, 0.4);
      cursor: pointer; }
  .login__register {
    width: 100px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    padding: 5px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3; }
    .login__register:hover {
      background: rgba(127, 127, 127, 0.4);
      cursor: pointer; }

.register {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  height: 200px; }
  .register__username {
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    padding: 5px;
    transition-duration: 0.4s; }
    .register__username:hover {
      border: 1px solid grey;
      border-radius: 2px; }
  .register__email {
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    padding: 5px;
    transition-duration: 0.4s; }
    .register__email:hover {
      border: 1px solid grey;
      border-radius: 2px; }
  .register__password {
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    padding: 5px;
    transition-duration: 0.4s; }
    .register__password:hover {
      border: 1px solid grey;
      border-radius: 2px; }
  .register__birthdate {
    width: 150px;
    height: 30px;
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    padding: 5px;
    transition-duration: 0.4s; }
    .register__birthdate:hover {
      border: 1px solid grey;
      border-radius: 2px; }
  .register__submit {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3; }
    .register__submit:hover {
      background: rgba(127, 127, 127, 0.4);
      cursor: pointer; }

.chat {
  margin-left: 500px;
  position: absolute;
  width: 300px;
  height: 500px; }
  .chat__body {
    border-radius: 15px;
    width: 100%;
    height: 400px;
    background: rgba(40, 101, 109, 0.5);
    padding: 15px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
    border: 1px solid #474750; }

.admin {
  display: flex; }
  .admin__rightside {
    margin-top: -80px;
    width: calc(100% - 250px);
    background: #f4f4f4; }
  .admin__leftside {
    width: 250px;
    height: 100vh;
    background: #373d51;
    margin: -80px 0 0 0; }
    .admin__leftside__header {
      background: #0b132b;
      font-size: 25px;
      padding: 20px;
      color: #a5afbb; }
    .admin__leftside__list {
      padding: 10px; }
    .admin__leftside__item {
      color: #dee1e6;
      padding: 15px;
      font-size: 20px;
      border-bottom: 2px solid #6fffe9;
      cursor: pointer;
      transition: 0.05s;
      display: block; }
      .admin__leftside__item:hover {
        color: #5bc0be;
        background: #1c2541; }

.additem {
  width: calc(100% - 250px);
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }
  .additem__upload[type="file"] {
    cursor: pointer;
    width: 180px;
    height: 34px;
    overflow: hidden; }
    .additem__upload[type="file"]:before {
      width: 158px;
      height: 32px;
      font-size: 16px;
      line-height: 32px;
      content: "Select your file";
      display: inline-block;
      background: white;
      border: 1px solid #000;
      padding: 0 10px;
      text-align: center; }
    .additem__upload[type="file"]::-webkit-file-upload-button {
      visibility: hidden; }
  .additem__name {
    width: 180px;
    height: 34px;
    padding: 8px;
    border: 1px solid black;
    margin: 0 30px 20px 0; }
  .additem__category {
    width: 180px;
    height: 34px;
    padding: 8px;
    margin: 0 30px 20px 0;
    border: 1px solid black; }
  .additem__description {
    width: 700px;
    height: 34px;
    margin: 0 30px 20px 0;
    padding: 8px;
    border: 1px solid black; }
  .additem__quantity {
    width: 180px;
    margin: 0 30px 20px 0;
    height: 34px;
    padding: 8px;
    border: 1px solid black; }
  .additem__cost {
    margin: 0 30px 20px 0;
    width: 180px;
    height: 34px;
    padding: 8px;
    border: 1px solid black; }
  .additem__send {
    width: 180px;
    height: 34px;
    margin: 0 30px 20px 0;
    padding: 8px;
    border: 1px solid black;
    background-color: #707070;
    color: #f3f3f3; }
    .additem__send:hover {
      background: rgba(127, 127, 127, 0.4);
      cursor: pointer; }

.product__feedback {
  padding: 30px;
  align-content: center; }
  .product__feedback__input {
    width: 500px;
    height: 70px;
    padding: 10px;
    border: 1px solid lightgrey; }
  .product__feedback__button {
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3; }
    .product__feedback__button:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4); }

.comment {
  width: 100%;
  padding: 30px;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column; }
  .comment__output {
    margin: 0 auto;
    width: calc(100% - 80px);
    height: 50px;
    font-size: 15px; }
    .comment__output--edit {
      width: 150px;
      height: 30px;
      padding: 5px;
      border-radius: 2px;
      background-color: #707070;
      color: #f3f3f3; }
      .comment__output--edit:hover {
        cursor: pointer;
        background: rgba(127, 127, 127, 0.4); }
  .comment__input {
    width: calc(100% - 180px);
    padding: 30px;
    margin: 30px 0 30px 30px;
    border: 1px solid transparent;
    border-radius: 3px; }
    .comment__input:focus {
      border: 1px solid grey;
      background: #f2f2f2; }
  .comment__send {
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3; }
    .comment__send:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4); }

.cart {
  width: calc(100% - 400px);
  margin: 0 auto; }
  .cart__conatiner {
    width: 100%;
    height: auto;
    margin-top: 30px; }
  .cart__header {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: #383030;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 40px; }
  .cart__productitem {
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    position: relative; }
    .cart__productitem__image {
      width: 60px;
      height: 60px; }
    .cart__productitem__name {
      font-size: 15px;
      font-weight: 400; }
    .cart__productitem__quantity {
      font-size: 15px;
      font-weight: 400; }
      .cart__productitem__quantity input {
        width: 50px;
        margin-left: 5px;
        padding: 5px;
        border: 1px solid #383834;
        border-radius: 3px; }
        .cart__productitem__quantity input:hover {
          background: #f3f3f3; }
    .cart__productitem__cost {
      color: #098504;
      font-size: 23px; }
    .cart__productitem__delete {
      background-image: url("https://cdn.iconscout.com/icon/free/png-256/delete-737-475058.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      padding: 5px;
      cursor: pointer; }
      .cart__productitem__delete:hover {
        background-color: #f76666; }
  .cart__buyitnow {
    position: absolute;
    right: 150px;
    bottom: 100px;
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3; }
    .cart__buyitnow:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4); }

.customerlist {
  padding: 30px; }
  .customerlist__title {
    font-size: 23px; }
  .customerlist__search {
    padding: 5px;
    margin: 15px;
    border: 1px solid black; }
    .customerlist__search--button {
      cursor: pointer;
      padding: 5px;
      border: 1px solid black; }
      .customerlist__search--button:hover {
        background: #8f8f8f;
        color: #f1f1f1; }
  .customerlist__table {
    border-collapse: collapse;
    width: 100%; }
    .customerlist__table__row:nth-child(even) {
      background-color: #dddddd; }
    .customerlist__table__data, .customerlist__table__header {
      border: 1px solid black;
      text-align: left;
      padding: 8px; }

.test {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px; }

.test2 {
  opacity: 0.5; }

.test3 {
  display: block;
  border: 1px solid black;
  margin: 20px; }
