@font-face {
  font-family: "segan";
  src: url(./fonts/Segan-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: transparent;
  outline: transparent;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "segan";
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #252529;
  }

  ::-webkit-scrollbar-thumb {
    background: #9898a8;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "egoe UI Emoji", "Segoe UI Symbol";
}
body {
  background-color: #fff;
  padding-top: 80px;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
