.admin {
  display: flex;

  &__sidebar {
    &__burger {
      position: fixed;
      display: block;
      right: 30px;
      top: 30px;
      z-index: 10000000000;
      & img {
        width: 50px;
        height: 50px;
      }
      &:active {
        border: 1px solid gray;
      }
    }
  }
  &__rightside {
    margin-top: -80px;
    width: calc(100% - 250px);
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    overflow-y: scroll;
  }
  &__leftside {
    display: none;
    width: 250px;
    height: 100vh;
    background: #373d51;
    margin: -80px 0 0 0;
    &__header {
      background: #0b132b;
      font-size: 25px;
      padding: 20px;
      color: #a5afbb;
    }
    &__list {
      padding: 10px;
    }
    &__item {
      color: #dee1e6;
      padding: 15px;
      font-size: 20px;
      border-bottom: 2px solid #6fffe9;
      cursor: pointer;
      transition: 0.05s;
      display: block;
      &:hover {
        color: #5bc0be;
        background: #1c2541;
      }
      &:visited {
        background: #111727 !important;
      }
    }
  }
}
.rotate {
  display: none;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: -50px;
  &__image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  &__text {
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: rgb(116, 4, 4);
  }
}
@media (max-width: 768px) {
  .admin {
    &__leftside {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      margin: 0;
    }
  }
  .rotate {
    display: flex;
  }
}
@media (max-height: 450px) {
  .admin {
    &__leftside {
      width: 150px;
      &__header {
        font-size: 15px;
      }
      &__list {
        padding: 5px;
      }
      &__item {
        font-size: 12px;
      }
    }
  }
}
