.admin {
  display: flex;
  &__rightside{
      margin-top: -80px;
      width: calc(100% - 250px);
        background: #f4f4f4;
  }
  &__leftside {
    width: 250px;
    height: 100vh;
    background: #373d51;
    margin: -80px 0 0 0;
    &__header {
      background: #0b132b;
      font-size: 25px;
      padding: 20px;
      color: #a5afbb;
    }
    &__list {
      padding: 10px;
    }
    &__item {
      color: #dee1e6;
      padding: 15px;
      font-size: 20px;
      border-bottom: 2px solid #6fffe9;
      cursor: pointer;
      transition: 0.05s;
      display: block;
      &:hover {
        color: #5bc0be;
        background: #1c2541;
      }
    }
  }
}
