.customerlist {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  &__search {
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 50px;
    &--input {
      padding: 5px;
      margin: 10px;
      width: 150px;
      &:active{
        border: 2px solid grey;
      }
    }
    &--button {
      cursor: pointer;
      margin: 10px;
      padding: 5px;
    &:active{
      background: darkgray;
    }
    }
  }
  &__list {
    width: 100%;
    margin-top: 20px;
    &:nth-child(2n + 2) {
      background: rgb(192, 192, 192);
    }
    &__item {
      border-bottom: 2px solid black;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      background: #999999;
      justify-content: space-between;
      align-content: flex-start;
      &--heading {
        padding-right: calc(100% - 600px);
      }
      & button {
        cursor: pointer;
        width: 70px;
        margin: 0 auto;
        padding: 5px;
        background: rgb(134, 71, 71);
        text-align: center;
        color: #ffffff;
        border-left: none;
        &:active {
          background: red;
        }
        &:first-of-type {
          background: rgb(182, 182, 86);
          color: #ffffff;
          border-left: none;
          &:active {
            background: yellow;
          }
        }
      }

      &--text {
        width: 200px;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        padding: 10px;
      }
      &--user {
        padding: 10px;
        width: 200px;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        border-left: 1px solid black;
        color: #d6d6d6;
      }
    }
  }
  &__cart {
    display: none;
    width: 100%;
    height: 200px;
    background: rgb(130, 130, 131);
    border: 2px solid black;
    overflow-y: scroll;
  }
}
