// responsive დასაწერია ! 
.customerlist{
    padding: 30px;
    &__title{
        font-size: 23px;
    }
    &__search{
        padding: 5px;
        margin: 15px;
        border: 1px solid black;
        &--button{
            cursor: pointer;
            padding: 5px;
            border: 1px solid black;
            &:hover{
                background: #8f8f8f;
                color: #f1f1f1;
            }
        }
    }

    &__table{
        border-collapse: collapse;
        width: 100%;
        &__row:nth-child(even){
            background-color: #dddddd;
        }

        &__data, &__header {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }
    }
}

// responsive დასაწერია ! 
