// responsive დასაწერია !

.chat {
  margin-left: 500px;
  position: absolute;
  width: 300px;
  height: 500px;
  display: none;
  &__body {
    border-radius: 15px;
    width: 100%;
    height: 400px;
    background: rgba(40, 101, 109, 0.5);
    padding: 15px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
    border: 1px solid rgb(71, 71, 80);
  }
}
// display: flex;
// width: 100%;
// height: 100vh;
// position: fixed;
// z-index: 100;
// margin-top: -80px;
// transition: 3s;
// &__rightside{
//     display: none;
//     background-color: #000000;
//     opacity: 0.3;
//     width: calc(100% - 300px);
//     height: 100vh;
//     position: fixed;

//     right: 0;
// }
// &__productitem{
//     padding: 15px;
//     font-size: 15px;
//     font-weight: 700;
//     color: rgb(80, 69, 69);
//     text-align: center;
// &:hover{
//     cursor: pointer;
//     background-color: #cbd2ae;
// }
// }

// @media (max-width: 885px) {
//     .sidebar{
//         &__container{
//             width: 200px;
//         }
//         &__rightside{
//             width: calc(100% - 200px);
//         }
//     }
