.chat {
  position: fixed;
  width: 300px;
  height: 500px;
  z-index: 1000;
  display: none;
  bottom: -15px;
  right: 10px;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 400px;
    border-radius: 6px 3px 0 0;
    background: rgba(40, 101, 109, 0.5);
    border: 1px solid rgb(71, 71, 80);

    &__wrapper {
      width: 100%;
      padding: 15px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #0ae;

        background-image: -webkit-gradient(
          linear,
          0 0,
          0 100%,
          color-stop(0.5, rgba(255, 255, 255, 0.2)),
          color-stop(0.5, transparent),
          to(transparent)
        );
      }
    }
    &__container {
      &--admin {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
      &--user {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }
    &__message {
      &--user {
        border-radius: 10px 10px 0 10px;
        padding: 10px;
        text-align: left;
        background-color: blue;
        color: #ffff;
        margin-bottom: 10px;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 12px;
      }
      &--admin {
        width: 100%;
        padding: 10px;
        text-align: left;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 10px 10px 0;
        color: #221c1c;
        margin-bottom: 10px;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 12px;
      }
    }
  }
  &__input {
    border: 1px solid rgb(10, 17, 110);
    border-radius: 0 0 6px 6px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    &__text {
      border-radius: 5px 0 0 5px;
      border-right: 0;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(10, 58, 58);
      font-size: 14px;
      margin-right: 60px;
    }
    &__send {
      border-radius: 5px;
      border: 1px solid transparent;
      background: rgb(97, 136, 113);
      padding: 5px;
      &:hover {
        cursor: pointer;
        border: 1px solid green;
      }
      &:active {
        background: rgb(58, 131, 88);
      }
    }
  }
  &__close {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
    & img {
      width: 30px;
      height: 30px;
    }
  }
}
.messageIcon {
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  &__notification {
    display: none;
    width: 20px;
    height: 20px;
    line-height: 12px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 4px;
    font-size: 14px;
    color: #ffff;
    background-color: red;
    opacity: 1;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
  }
}

@media (max-width: 885px) {
  .messageIcon {
    width: 70px;
    right: 10px;
    &__notification {
      bottom: 135px;
      right: 15px;
      width: 20px;
      height: 20px;
      font-size: 10px;
    }
  }
  .chat {
    width: 250px;
    height: 400px;
    &__input {
      &__text {
        margin-right: 10px;
      }
    }
  }
}

@media (max-height: 475px) {
  .chat {
    width: 250px;
    height: 300px;
    bottom: 100px;
    &__input {
      height: 65px;
    }
  }
}