.chat {
  margin-left: 500px;
  position: fixed;
  width: 300px;
  height: 500px;
  z-index: 1000;
  display: none;
  bottom: 10px;
  right: 50px;

  &__body {
    border-radius: 15px;
    width: 100%;
    height: 400px;
    background: rgba(40, 101, 109, 0.5);
    padding: 15px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
    border: 1px solid rgb(71, 71, 80);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #0ae;
      background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.5, transparent),
        to(transparent)
      );
    }
    &__container {
      &--admin {
        width: 100%;
        margin-bottom: 10px;
      }
      &--user {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &__message {
      &--user {
        border-radius: 10px 10px 0 10px;
        width: 100%;
        padding: 10px;
        background-color: blue;
        color: #ffff;
        margin-bottom: 10px;
      }
      &--admin {
        width: 100%;
        padding: 10px;
        background-color: silver;
        border-radius: 10px 10px 10px 0;
        color: #221c1c;
        margin-bottom: 10px;
      }
    }
  }
  &__input {
    border: 1px solid rgb(10, 17, 110);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    &__text {
      border-radius: 5px 0 0 5px;
      border-right: 0;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(10, 58, 58);
      font-size: 14px;
      margin-right: 60px;
    }
    &__send {
      border-radius: 5px;
      border: 1px solid transparent;
      background: rgb(97, 136, 113);
      padding: 5px;
      &:hover {
        cursor: pointer;
        border: 1px solid green;
      }
      &:active {
        background: rgb(58, 131, 88);
      }
    }
  }
  &__close {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
    & img {
      width: 30px;
      height: 30px;
    }
  }
}
.messageIcon {
  width: 100px;
  transform: rotateY(180deg);
  position: fixed;
  bottom: 100px;
  right: 50px;
  cursor: pointer;
  &__notification {
    width: 30px;
    height: 30px;
    text-align: center;
    position: fixed;
    bottom: 155px;
    right: 60px;
    font-size: 14px;
    color: #ffff;
    background-color: darkred;
    opacity: .9;
    padding: 5px;
    border-radius: 50%;
    font-weight: 500;
  }
}
