.comment {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding:0 20px;
  &__wrp{
    margin-top:30px;
    width:100%;
    display: flex;
    align-items: stretch;
  }
  &__btn{
    width:100%;
    max-width:250px;
  }
  &__output {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:30px auto 0 auto;
    &__comment {
      text-align: left;
      font-size: 20px;
      color: rgb(66, 49, 4);
      padding:30px;
      background:#9ea0a031;
      // border-bottom:1px solid #d6d65e;
      &:last-child{
        border-bottom:none;
      }
      &:nth-child(2n + 2){
        background:#e5e8e8;
      }
    }
    &__username {
      font-size: 15px;
      text-align: right;
      color: black;
      // background:#dde2e2;
    }
    &--edit {
      width: 100%;
      height:100%;
      padding: 5px;
      border-radius:0 4px 4px 0;
      background-color: #62b556;
      color: #f3f3f3;
      font-size:20px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        background: #569e4b;
      }
    }
  }
  &__input {
    width: calc(100% - 250px);
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    background:#9ea0a031;
    font-weight: bold;
    &:focus {
      border: 1px solid #62b556;
      border-right:none;
      background: #90ca8740;
      color:#437d3b;
      font-weight:bold;
    }
  }
  &__send {
    width: 150px;
    height:100%;
    padding: 5px;
    margin-left: 30px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3;
    &:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4);
    }
  }
}
@media (max-width: 500px) {
  .comment {
    flex-direction: column;
    &__input {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
    &__output {
      width: 100%;
      &__comment {
        font-size: 15px;
      }
      &__username {
        font-size: 10px;
      }
    }
    &__output--edit {
      margin: 0;
    }
    &__send {
      margin: 0;
      margin-top: 15px;
    }
  }
}
