.comment {
  width: 100%;
  padding: 30px;
  flex-wrap: wrap;
  align-items: center;

  &__output {
    margin: 0 auto;
    // width: calc(100% - 80px);
    height: 50px;
    font-size: 15px;
    &--edit {
      margin-left: 30px;
      width: 150px;
      height: 30px;
      padding: 5px;
      border-radius: 2px;
      background-color: #707070;
      color: #f3f3f3;
      margin-bottom: 20px;
      &:hover {
        cursor: pointer;
        background: rgba(127, 127, 127, 0.4);
      }
    }
  }
  &__input {
    width: calc(100% - 250px);
    padding: 30px;
    margin: 30px 0 30px 30px;
    border: 1px solid transparent;
    border-radius: 3px;
    &:focus{
        border: 1px solid grey;
        background: #f2f2f2;
    }
  }
  &__send{
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3;
    &:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4);
    }
  
  }
}
@media (max-width: 500px) {
  .comment{
    flex-direction: column;
    &__input{
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
    &__output--edit{
margin: 0;
    }
    &__send{
      margin: 0;
      margin-top: 15px;
    }
  }
}