.contactuser {
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  &__leftside {
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    border: 1px solid #0b132b;
    &__body {
      width: 100%;
      height: calc(100% - 100px);
      background: #f4f4f4;
      justify-content: flex-end;
      position: relative;
      overflow-y: scroll;
      &--admin {
        background: darkgrey;
        padding: 5px;
        font-size: 15px;
        border-bottom: 2px solid black;
        word-wrap: break-word;
        word-break: break-all;
      }
      &--user {
        padding: 5px;
        font-size: 15px;
        border-bottom: 2px solid black;
        word-wrap: break-word;
        word-break: break-all;
      }
      &--username {
        position: absolute;
        background: #ffffff;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        color: rgb(44, 42, 42);
        border: 1px solid black;
        padding: 30px;
        font-size: 20px;
        border-radius: 3px;
      }
    }
    &__input {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      &--text {
        width: calc(100% - 40px);
        height: 60px;
        padding: 10px;

        &:focus {
          background: rgba(80, 82, 121, 0.397);
          color: #f6f6f6;
        }
      }
      &--send {
        cursor: pointer;
        padding: 10px;
        border: 1px solid transparent;
        &:hover {
          background-color: rgb(167, 166, 166);
          border: 1px solid black;
        }
        &:active {
          background-color: grey;
          border: 1px solid black;
        }
      }
    }
  }
  &__rightside {
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    border: 1px solid grey;
    overflow-y: auto;
    &__list {
      padding: 30px;
      margin: 0 auto;
      &--item {
        padding: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        border: 2px solid #214e47;
        cursor: pointer;
        &:active{
          background: #0b132b;
          color: #ffffff
        }
      }
    }
    &__search {
      width: 100%;
      padding: 30px;
      margin: 0 auto;
      &--input {
        width: 100%;
        padding: 10px;
        border: 1px solid #214e47;
      }
      &--button {
        padding: 10px;
        border: 1px solid #214e47;
        border-left: 0;
        cursor: pointer;
        &:hover {
          background-color: #a7a6a6;
          border: 1px solid black;
          border-left: none;
        }
        &:active {
          background-color: grey;
          border: 1px solid black;
          border-left: none;
        }
      }
    }
  }
}
@media (max-widht: 670px) {
  // .contactuser{
  //   &__rightside{

  //     &__list{
  //       &--item{
  //         font-size: 12px;
  //       }
  //     }
  //   }
  // }
}