.product {
  &__feedback {
    padding:100px 20px 0px 20px;
    align-items: center;
    justify-content: flex-end;
    &__input {
      width: 300px;
      height: 40px;
      padding: 10px;
      border: 1px solid lightgrey;
    }
    &__button {
      width: 150px;
      height: 40px;
      padding: 5px;
      margin-left: 1px;
      border-radius: 2px;
      background-color: #fbfa3b;
      color: #949329;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        background: rgba(127, 127, 127, 0.4);
      }
    }
  }
}
@media (max-width: 500px) {
  .product {
    &__feedback {
      flex-direction: column;
      margin: 0;
      &__input {
        margin-bottom: 20px;
      }
    }
  }
}
