.Feedbacklist {
    box-sizing: border-box;
    &__title {
        margin: 5px;
        font-size: 30px;
        font-weight: bold;
    }
    .Feedbacklist__table {
        display: table;
        width: 100%;
        .Feedbacklist__headerrow {
            display: table-row;
            background-color: gray;
            font-weight: bold;
            font-size: 20px;
        }
        .Feedbacklist__headercell {
            display: table-cell;
            padding: 10px;
            text-align: justify;
            border-bottom: 1px solid black;
            min-width: fit-content;
        }
        .Feedbacklist__row {
            display: table-row;
        }
        .Feedbacklist__Cell {
            display: table-cell;
            border-bottom: 1px solid black;
            font-size: 10px;
            padding: 10px;
            text-align: justify;
            word-wrap: break-word;
            min-width: fit-content;
            max-width: 200px;
            &__button {
                // გასასწორებელია
                padding: 5px;
            }
        }
    }
}