.header {
  width: 100%;
  height: 80px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, green, rgba(0, 0, 0, 0)) 0 1 100% 0;
  position: fixed;
  margin-top: -80px;
  margin-bottom: 40px;
  background-color: rgb(51, 51, 58);
  z-index: 1000;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header__nav {
    align-items: center;
  }
  .wrapper {
    width: 100%;
  }
  &__nav {
    height: 100%;
  }
  &__sidebar img {
    width: 50px;
    height: 50px;
    &:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4);
      border: 1px solid rgba(112, 112, 112, 0.6);
    }
  }
  &__logo {
    width: 180px;
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__search {
    max-height: 50px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    transition-duration: 0.4s;
    z-index: 1000000;
    border-bottom: 1px solid rgb(77, 72, 72);
    &:hover {
      border: 1px solid rgb(77, 72, 72);
      border-radius: 3px;
    }
    &__input {
      font-size: 14px;
      padding: 5px;
      background: transparent;
      color: #f5f5f5;
    }
    &__button {
      margin-right: 6px;
      padding: 5px;
      border-radius: 2px;
      background-color: #707070;
      color: #f3f3f3;
      &:hover {
        cursor: pointer;
        background: rgba(127, 127, 127, 0.4);
      }
      &--detailed {
        padding: 5px;
        border-radius: 2px;
        background-color: #707070;
        color: #f3f3f3;
        &:hover {
          cursor: pointer;
          background: rgba(127, 127, 127, 0.4);
        }
      }
    }
  }
  &__signin {
    font-size: 16px;
    line-height: 70px;
    padding: 10px;
    border-radius: 2px;
    font-weight: 500;
    color: #f3f3f3;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    &:hover {
      border: 1px solid #fff;
    }
    &:active {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  &__cart {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active:after {
      top: calc(50% - 50%);
      left: calc(50% - 50%);
      width: 100%;
      height: 100%;
      background: #ff8e4370;
    }
    &:after {
      position: absolute;
      top: calc(50% - 25%);
      left: calc(50% - 25%);
      width: 50%;
      height: 50%;
      background: transparent;
      content: "";
      border-radius: 6px;
      transition: 0.15s all;
    }
  }
  &__cart img {
    width: 80%;
    height: auto;
    cursor: pointer;
  }
}

#profile {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 0 !important;
  width: 100px !important;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border-radius: 2px;
  font-weight: 500;
  color: #f3f3f3;
  border: 1px solid transparent;
  background: transparent;
  &:hover {
    background: #444446;
  }
}

@media (max-width: 885px) {
  .header {
    &__search {
      margin-left: 0;
    }

    &__logo {
      display: none;
    }
  }
}
@media (max-width: 570px) {
  .header {
    padding: 0;
    &__logo {
      width: 100px;
      height: 30px;
      background-image: none;
      background-repeat: no-repeat;
    }
    &__search {
      width: 100px;
      height: 50px;
      &__input {
        width: 80px;
      }
    }
    &__sidebar img {
      width: 30px;
      height: 30px;
    }
  }
}
