.header {
  width: 100%;
  height: 80px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, green, rgba(0, 0, 0, 0)) 0 1 100% 0;
  position: fixed;
  margin-top: -80px;
  margin-bottom: 40px;
  background-color: rgb(51, 51, 58);
  z-index: 1000;
  padding: 0 20px 0 20px;
  &__nav {
    height: 80px;
  }
  &__sidebar img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    &:hover {
      cursor: pointer;
      background: rgba(127, 127, 127, 0.4);
      border: 1px solid rgba(112, 112, 112, 0.6);
    }
  }
  &__logo {
    margin-top: 7px;
    width: 250px;
    height: 50px;
    & img {
      width: 100%;
      height: 100%;
      
    }
  }
  &__search {
    max-height: 50px; 
    margin-top: 15px;
    margin-left: 50px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
    border-bottom: 1px solid rgb(77, 72, 72);
    &:hover {
      border: 1px solid rgb(77, 72, 72);
      border-radius: 3px;
    }
    &__input {
      font-size: 14px;
      padding: 5px;
      background: transparent;
      color: #f5f5f5;
    }
    &__button {
      // margin-top: -10px;
      margin-right: 6px;
      padding: 5px;
      border-radius: 2px;
      background-color: #707070;
      color: #f3f3f3;

      &:hover {
        cursor: pointer;
        background: rgba(127, 127, 127, 0.4);
      }
      &--detailed {
        padding: 5px;
        border-radius: 2px;
        background-color: #707070;
        color: #f3f3f3;

        &:hover {
          cursor: pointer;
          background: rgba(127, 127, 127, 0.4);
        }
      }
    }
  }
  &__signin {
    font-size: 16px;
    line-height: 70px;
    padding: 10px;
    border-radius: 2px;
    font-weight: 500;
    color: #f3f3f3;
    border: 1px solid transparent;
    background: transparent;
    &:hover {
      background: linear-gradient(rgb(115, 200, 169), rgb(50, 50, 56));
      border: 1px solid #33333a;
    }
  }
  &__cart {
    transition-duration: 0.5s;
    &:hover {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
  &__cart img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

#profile {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 0 !important;
  width: 100px !important;
  height: 30px;
  margin-top: 20px;
  padding: 5px;
  font-size: 16px;
  border-radius: 2px;
  font-weight: 500;
  color: #f3f3f3;
  border: 1px solid transparent;
  background: transparent;
  &:hover {
    background: linear-gradient(rgb(115, 200, 169), rgb(50, 50, 56));
    border: 1px solid #33333a;
  }
}

@media (max-width: 885px) {
  .header {
    &__search {
      margin: 0;
      margin-top: 10px;
      width: 100px;
      height: 50px;
      background-image: url("https://ellaora.com/wp-content/uploads/2019/02/search-icon-png-23.png");
      background-size: cover;
      background-repeat: no-repeat;
      &__input {
        display: none;
      }
      &__button {
        display: none;
        &--detailed {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 570px) {
  .header {
    &__logo {
      width: 100px;
      margin-top: 10px;
      height: 30px;
      background-image: none;
      background-repeat: no-repeat;
    }
    &__search {
      margin-top: 20px;
      width: 50px;
      height: 30px;
    }
    &__sidebar img {
      margin-top: 20px;
      width: 30px;
      height: 30px;
    }
    &__cart img {
      margin-top: 15px;
      width: 30px;
      height: 30px;
    }
  }
}
