// აქ შედის ყველა ის სტილი, რომელსაც უკვე რეალურად ვიყენებთ საიტზე და ვიზუალურად ჩანს
@import "header";
@import "sidebar";
@import "product";
@import "login";
@import "register";
@import "chat";
@import "adminPanelLeftside";
@import "additem";
@import "feedback";
@import "comments";
@import "cart";
@import "adminCustomerlist";
@import "footer";
@import "profilePopup";
@import "productItem";
@import "contactuser";