.login {
  // display: none;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: calc(100vh - 309px);
  &__username {
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    padding: 5px;
    transition-duration: 0.4s;
    &:hover {
      border: 1px solid grey;
      border-radius: 2px;
    }
  }
  &__password {
    border: 1px solid transparent;
    font-size: 15px;
    margin-right: 10px;
    width: 150px;
    padding: 5px;
    transition-duration: 0.4s;

    &:hover {
      border: 1px solid grey;
      border-radius: 2px;
    }
  }
  &__signin {
    padding: 5px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3;
    &:hover {
      background: rgba(127, 127, 127, 0.4);
      cursor: pointer;
    }
  }
  &__register {
    width: 100px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    padding: 5px;
    border-radius: 2px;
    background-color: #707070;
    color: #f3f3f3;
    &:hover {
      background: rgba(127, 127, 127, 0.4);
      cursor: pointer;
    }
  }
}

@media (max-width: 670px) {
  .login {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    &__username {
      margin-bottom: 10px;
      width: 250px;

    }
    &__password {
      margin-bottom: 10px;
      width: 250px;

    }
    &__signin {
      width: 250px;
      margin-bottom: 10px;
    }
    &__register {
      width: 250px;

      margin-bottom: 10px;
    }
  }
}
