.profilepopup {
  &__container {
    width: 170px;
    height: 150px;
    position: absolute;
    left: calc(50% - 170px/2);
    top: 29px;
    z-index: 100;
    display: none;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 150px;
    background: #444446;
    border-radius: 0 0 5px 5px;

    &__balance {
      margin: 0 auto;
      width: 100%;
      height:50%;
      font-size: 20px;
      list-style-type: none;
      text-align: center;
      color: #3cab3c;
      font-weight: 600;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    &__account {
      text-align: center;
      padding: 10px;
      font-size: 15px;
      width:100%;
      height:25%;
      display:flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      background-color: #c6993b;
      color: #f3f3f3;
      &:hover {
        background: rgba(127, 127, 127, 0.4);

        cursor: pointer;
      }
    }
    &__logout {
      text-align: center;
      padding: 10px;
      font-size: 15px;
      width:100%;
      height:25%;
      display:flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      background-color: #b64c37;
      color: #f3f3f3;
      &:hover {
        background: rgba(127, 127, 127, 0.4);
        cursor: pointer;
      }
    }
  }
}
