.ProductCat {
  width: 100%;
  &__title {
    margin: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(59, 56, 56);
  }
  &__Newcatbutton {
    padding: 10px 15px;
    margin: 0 10px 10px 10px;
    background: #26991e;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #f3f3f3;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background: #205e1b;
      border: 1px solid #26991e;
    }
    &:active {
      background: #153d12;
      color: aliceblue;
      border: 1px solid #205e1b;
    }
    &::placeholder {
      color: #ffffff;
    }
  }
  &__All {
    margin: 5px;
    width: 30%;
    padding: 2px 6px;
    &__Link {
      cursor: context-menu;
      text-decoration: none;
      color: black;
      font: 400 13.3333px Arial;
    }
  }
  &__List {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
  }
  &__Cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(23, 61, 45, 0.589);
    &:nth-child(even) {
      background-color: rgba(7, 19, 14, 0.589);
    }

    &__Link {
      width: calc(100% - 250px);
      background: transparent;
      padding: 15px 0 15px 10px;
      font-size: 17px;
      color: #2c2b2b;
      text-decoration: none;
      display: block;
      cursor: pointer;
      font: 400 13.3333px Arial;
      &:active {
        color: black;
      }
      &::placeholder {
        color: #ffffff;
      }
    }
    &__actionbutton {
      padding: 10px;
      color: #fafafa;
      opacity: 0.9;
      cursor: pointer;
      &:first-child {
        background: #2c522a;
        border-radius: 3px 0 0 3px;
      }
      &:active {
        background-image: linear-gradient(
          to right,
          #2c522a,
          rgba(255, 255, 255, 0.3)
        );
      }
      &:nth-child(2) {
        background-color: rgb(8, 13, 165);
        margin-right: 0;
        &:active {
          background: rgba(255, 255, 255, 0.3);
        }
      }
      &:last-child {
        background: rgb(128, 13, 9);
        border-radius: 0 3px 3px 0;
        margin-right: 20px;
        &:active {
          background-image: linear-gradient(
            to left,
            rgb(128, 13, 9),
            rgba(255, 255, 255, 0.3)
          );
        }
      }
    }
  }
}
.productlist {
  display: none;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  height: auto;
  border-bottom: 2px solid rgb(19, 36, 26);
  &__list {
    width: 100%;
    &__item {
      padding: 5px 0 5px 15px;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      &:last-child {
        border: none;
      }
    }
  }
  &__edit {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
    height: auto;
    border: 1px solid #153d12;
    border-radius: 4px;
    &__images {
      width: 100%;
      height: 150px;
      &--item {
        width: 20%;
        height: 150px;
        margin: 2px;
        & img {
          width: 100%;
          height: 150px;
          object-fit: contain;
        }
      }
      &--opacity {
        opacity: 0.3;
      }
    }
  }
}
