.product {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 100px;
  &__description-item {
    padding: 30px;
    height: calc(100% - 90px);
    position: relative;
  }
  .gm-price {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 60px;
    left: 0;
    display: flex;
    align-items: center;
    background: #dde0e0;
  }
  &__image {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 10px 0 0 10px;
    margin-right: 40px;
    margin-bottom: 50px;
    object-fit: contain;

    &__zoom {
      margin: 0 auto;
      width: 350px !important;
      // padding: 10px;
      height: 350px !important;
      object-fit: contain;
    }
    &--container {
      width: 120px;
      height: 370px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      object-fit: contain;
    }
    &__wrapper {
      width: 100%;
      margin-right: 0;
      object-fit: contain;
      & img {
        width: 100px;
        height: 100px;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid #000000;
        }
      }
    }
  }
  &__info {
    margin: 0 auto;
    margin: 0 20px;
    padding: 10px;
    background: #9ea0a031;
    border-radius: 4px;
    // -webkit-box-shadow: -20px 20px 13px 2px #777;
    // -moz-box-shadow: -20px 20px 13px 2px #777;
    // box-shadow: -20px 20px 13px 2px #777;
    &__managequatity {
      flex-direction: row-reverse;
      width: 100%;
      text-align: right;
      font-size: 15px;
      color: #7e8282;
      font-weight: bold;
      background: #e5e8e8;
      border-radius: 0 0 4px 4px;
      padding: 0 30px;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      align-items: center;
    }
    &__addtocart {
      padding: 10px;
      border-radius: 2px;
      background-color: #2bb717;
      color: #f3f3f3;
      font-size: 15px;
      &:hover {
        cursor: pointer;
        background: #249e12;
      }
    }
    &__cost {
      font-size: 20px;
      font-weight: bold;
      color: #3d8c31;
      width: 100%;
      max-width: 140px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #d4d8d8;
    }
    &__available {
      font-size: 16px;
      font-weight: bold;
      color: #7e8282;
      display: flex;
      justify-content: center;
      padding: 0 30px;
      .available__number {
        font-size: 18px;
        color: #4f5151;
        padding: 0 0 0 5px;
      }
    }
    &__rating {
      position: absolute;
      height: 60px;
      width: 100%;
      bottom: 0;
      left: 0;
      justify-items: flex-end;
      .like,
      .dislike {
        position: relative;
      }
      .like {
        .product__info__rating--count {
          background: #4f9445;
          border-radius: 0 0 0 4px;
        }
      }
      .dislike {
        .product__info__rating--count {
          background: #944545;
          border-radius: 0 0 0 0;
        }
      }
      &--like {
        background: #62b556;
        width: 70px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-center: center;
        border-radius: 4px 0 0 0;
        cursor: pointer;

        & img {
          width: 100%;
          max-width: 30px;
          height: auto;
        }
        &:hover {
          background: #59a54e;
        }
        &:active {
          background: #498c40;
        }
      }
      &--dislike {
        width: 70px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-center: center;
        border-radius: 0 0 0 0;
        background: #f74545;
        cursor: pointer;
        & img {
          width: 100%;
          max-width: 30px;
          height: auto;
        }
        &:hover {
          background: #e44141;
        }
        &:active {
          background: #d03c3c;
        }
      }
      &--count {
        font-size: 14px;
        line-height: 16px;
        font-weight: 800;
        color: #fff;
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__header {
      font-size: 25px;
      font-weight: 800;
      padding: 0 30px;
      color: #384628;
      background: #9ea0a031;
      display: flex;
      align-items: center;
      height: 90px;
    }
    &__description {
      color: #2d2d2d;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: 800;
    }
    &__feedback {
      width: calc(100% - 60px);
      margin-top: 50px;
      margin-bottom: 50px;
      &__input {
        width: 500px;
        height: 80px;
        margin-right: 30px;
      }
      &__button {
        width: 200px;
        height: 40px;
        margin-top: 40px;
      }
    }
  }
}
.soldout {
  position: absolute;
  left: 0;
  top: 80px;
  width: 150px;
}

@media (max-width: 900px) {
  .product {
    &__column1 {
      flex-direction: column;
    }
  }
  .product__description-item {
    padding-bottom: 150px;
  }
}

@media (max-width: 500px) {
  .product {
    &__image {
      height: 300px;
      & img {
        width: 230px;
        height: 230px;
      }
      &__wrapper {
        height: 270px;
        & img {
          width: 70px;
          height: 70px;
        }
      }
      &--small {
        padding: 0;
      }
    }
    &__info {
      &__addtocart {
        width: 100px;
        font-size: 15px;
      }
      &__rating {
        padding: 0;
        &--like {
          width: 50px;
          &:hover {
            background: transparent;
          }
          &:active {
            background: transparent;
          }
        }
        &--dislike {
          margin-top: -3px;
          width: 50px;
          &:hover {
            background: transparent;
          }
          &:active {
            background: transparent;
          }
        }
      }
    }
  }
  .dislike {
    margin-top: 3px;
  }
  .comment__btn {
    margin-bottom: 20px;
  }
}

