.productOnPage {
  object-fit: contain;
  position: relative;
  .category__wrp {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: #dedede;
    margin-bottom: 25px;
  }
  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 250px);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }
  &__linkToProduct {
    width: 280px;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  &_img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  &_name {
    display: block;
    margin: 2px;
    padding: 2px;
    color: darkolivegreen;
    font-size: 20px;
    text-align: left;
    &_buttons {
      justify-content: space-around;
      &-details {
        cursor: pointer;
        font-size: 13px;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 3px 0 0 3px;
        background-color: #eeeef3;
        width: 50%;
        font-size: 20px;
        color: rgb(37, 35, 35);
        &:hover {
          background: #dbdbe0;
        }
        &:active {
          background: #727272;
          color: #f4f4f4;
        }
      }
      & button {
        cursor: pointer;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 0 3px 3px 0;
        background-color: #ff6565;
        width: 50%;
        font-size: 20px;
        color: #fff;
        &:hover {
          background: #ea5d5d;
        }
        &:active {
          background: #f74848;
          color: #f4f4f4;
        }
      }
      &-addtocart-link {
        cursor: pointer;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 0 3px 3px 0;
        background-color: #ff6565;
        width: 50%;
        font-size: 20px;
        color: #fff;
        &:hover {
          background: #ea5d5d;
        }
        &:active {
          background: #f74848;
          color: #f4f4f4;
        }
      }
    }
  }
  &_curenc {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 18px;
    color: black;
  }
}

.category__head {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.productitem__soldout {
  position: absolute;
  width: 30%;
}
@media (max-width: 685px) {
  .productOnPage {
    margin: 0 auto;
  }
}
