.productOnPage {
  margin: 0 auto;
  width: 260px;
  height: 350px;
  margin: 20px;

  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__linkToProduct {
    text-decoration: none;
    text-align: center;
    color: black;
  }
  &_img {
    width: 100%;
    height: auto;
  }
  &_name {
    display: block;
    margin: 2px;
    padding: 2px;
    color: darkolivegreen;
    font-size: 16px;
    &_buttons{
      justify-content: space-around;
      & button {
        cursor: pointer;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #f3f3f3;
        color: rgb(37, 35, 35);
        &:hover{
          border: 1px solid rgb(133, 173, 143);
          background: #f8f8f8;
        }
        &:active{
          background: #727272;
          color: #f4f4f4;

        }
      }
      &-addtocart-link{
        cursor: pointer;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #f3f3f3;
        color: rgb(37, 35, 35);
        font-size: 14px;
        &:hover{
          border: 1px solid rgb(133, 173, 143);
          background: #f8f8f8;
        }
        &:active{
          background: #727272;
          color: #f4f4f4;

        }
      }
    }
  }
  &_curenc {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 14px;
    color: green;
  }
  
}
