.product {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 100px;
  &__image {
    // width: 500px;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 10px 0 0 10px;
    // background: rgba(214, 214, 215, 0.5);
    margin-right: 40px;
    margin-bottom: 50px;
    object-fit: contain;
    & img {
      margin: 0 auto;
      width: 350px;
      padding: 10px;
      height: 350px;
      object-fit: contain;
    }
    &--container {
      width: 120px;
      height: 370px;
      // margin-top: 5px;
      // width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      object-fit: contain;
    }
    &__wrapper {
      width: 100%;
      margin-right: 0;
      object-fit: contain;
      & img {
        width: 100px;
        height: 100px;
        cursor: pointer;
        border: 1px solid transparent;
        height: auto;
        &:hover {
          border: 1px solid #000000;
        }
      }
    }
  }
  &__info {
    // width: calc(100% - 200px);
    margin: 0 auto;
    margin: 0 20px;
    &__managequatity {
      flex-direction: row-reverse;
      width: 100%;
      text-align: right;
      font-size: 15px;
      color: red;
    }
    &__addtocart {
      padding: 10px;
      border-radius: 2px;
      background-color: #707070;
      color: #f3f3f3;
      &:hover {
        cursor: pointer;
        background: rgb(77, 77, 77);
      }
    }
    &__cost {
      font-size: 20px;
      color: #005f24;
      margin: 30px 50px;
    }
    &__available {
      font-size: 16px;
      color: #1e201f;
      margin: 30px 50px;
    }
    &__rating {
      padding: 40px;
      justify-items: flex-end;
      &--like {
        background: none;
        width: 80px;
        height: 80px;
        cursor: pointer;
        & img {
          width: 70px;
          // padding-bottom: 7px;
          margin: 5px;
        }
        &:hover {
          background: #efe16f;
        }
        &:active {
          background: #e9d431;
          top: 2px;
        }
      }
      &--dislike {
        background: none;
        width: 80px;
        height: 80px;
        cursor: pointer;
        & img {
          width: 55px;
          margin: 5px;
        }
        &:hover {
          background: #f74545;
        }
        &:active {
          background: #f51717;
          top: 2px;
        }
      }
      &--count {
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
        line-height: 40px;
        color: #005f24;
      }
    }
    &__header {
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 30px;
      color: rgb(59, 27, 27);
      border-bottom: 2px solid black;
      margin-bottom: 10px;
    }
    &__description {
      color: rgb(90, 82, 82);
      text-align: center;
      font-size: 20px;
      margin-bottom: 50px;
    }
    &__feedback {
      width: calc(100% - 60px);
      margin-top: 50px;
      margin-bottom: 50px;
      &__input {
        width: 500px;
        height: 80px;
        margin-right: 30px;
      }
      &__button {
        width: 200px;
        height: 40px;
        margin-top: 40px;
      }
    }
  }
}
.soldout {
  position: absolute;
  left: 0;
  top: 80px;
  width: 300px;
}

@media (max-width: 900px) {
  .product {
    &__column1 {
      flex-direction: column;
    }
  }
}

@media (max-width: 500px) {
  .product {
    &__image {
      height: 300px;
      & img {
        width: 230px;
        height: 230px;
      }
      &__wrapper {
        height: 270px;
        & img {
          width: 70px;
          height: 70px;
        }
      }
      &--small {
        padding: 0;
      }
    }
    &__info {
      &__addtocart {
        width: 100px;
        font-size: 15px;
      }
      &__rating {
        padding: 0;
        &--like {
          width: 50px;
          &:hover {
            background: transparent;
          }
          &:active {
            background: transparent;
          }
        }
        &--dislike {
          margin-top: -3px;
          width: 50px;
          &:hover {
            background: transparent;
          }
          &:active {
            background: transparent;
          }
        }
      }
    }
  }
}
