.register {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  width:100%;
  max-width:400px;
  &__username {
    font-size: 15px;
    font-weight:bold;
    width: 100%;
    padding: 15px;
    transition-duration: 0.4s;
    margin-bottom:10px;
    border: 1px solid transparent;
    border-bottom: 1px solid grey;
    background:rgba(0,0,0,0.05);
    &:hover {
      border: 1px solid grey;
      border-radius: 2px;
    }
  }
  &__email {
    font-size: 15px;
    font-weight:bold;
    width: 100%;
    padding: 15px;
    transition-duration: 0.4s;
    margin-bottom:10px;
    border: 1px solid transparent;
    border-bottom: 1px solid grey;
    background:rgba(0,0,0,0.05);
    &:hover {
      border: 1px solid grey;
      border-radius: 2px;
    }
  }
  &__password {
    font-size: 15px;
    font-weight:bold;
    width: 100%;
    padding: 15px;
    transition-duration: 0.4s;
    margin-bottom:10px;
    border: 1px solid transparent;
    border-bottom: 1px solid grey;
    background:rgba(0,0,0,0.05);
    &:hover {
      border: 1px solid grey;
      border-radius: 2px;
    }
  }
  &__birthdate {
    font-size: 15px;
    font-weight:bold;
    width: 100%;
    padding: 15px;
    transition-duration: 0.4s;
    margin-bottom:10px;
    border: 1px solid transparent;
    border-bottom: 1px solid grey;
    background:rgba(0,0,0,0.05);
    &:hover {
      border: 1px solid grey;
      border-radius: 2px;
    }
  }
  &__submit {
    width: 100%;
    padding: 15px 0px;
    border-radius: 2px;
    background-color: #63b328;
    font-weight:bold;
    font-size:15px;
    margin-bottom:10px;
    color: #f3f3f3;
    &:hover {
      background-color: #579c23;
      cursor: pointer;
    }
  }
}
