.searchdropdown {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 99;
  width: 260px;
  height: auto;
  margin: 0 auto;
  height: auto;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background: #444446;
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #252529;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: #656571;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &__item {
    max-height: 300px;
    overflow-y: auto;
    
    & a ,p{
      cursor: pointer;
      font-size: 16px;
      padding: 5px;
      color: #fff;
      padding:10px;
      &:nth-child(2n+2){
        background:rgba(255,255,255,0.1);
      }
      &:last-child{
        border-bottom: none;
      }
      &:hover {
        background:rgba(255,255,255,0.3);
        color: #f2f2f2;
      }
      &:active {
        background:rgba(0,0,0,0.2);
      }
    }
  }
}
