.soldOut {
  width: 100%;
  height: 100vh;
  position: relative;
  &__container {
    width: 100%;
    height: 150px;
    background: rgb(194, 191, 191);
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgb(73, 72, 72);
    &:nth-child(2n + 2) {
      background-color: rgb(145, 145, 145);
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &__image {
    object-fit: contain;
    width: 150px;
    height: 150px;
    padding: 10px;
  }
  &__name {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    color: rgb(67, 67, 99);
    border-bottom: 1px solid black;
  }
  &__number {
    padding: 10px;
    width: 70px;
    border-radius: 3px;
  }
  & button {
    padding: 15px;
    cursor: pointer;
    color: rgb(253, 253, 253);
  }
  &__save {
    background-color: rgb(0, 122, 0);
    border-radius: 3px 0 0 3px;
    &:active {
      background-color: rgb(1, 59, 1);
    }
  }
  &__delete {
    border-radius: 0 3px 3px 0;
    background-color: rgb(143, 0, 0);
    &:active {
      background-color: rgb(95, 0, 0);
    }
  }
}
