.fl{
    display: flex;
    display: -webkit-box;  // OLD - iOS 6-, Safari 3.1-6, BB7 
    display: -ms-flexbox;  // TWEENER - IE 10
    display: -webkit-flex; // NEW - Safari 6.1+. iOS 7.1+, BB10
    &_jus{
        &_bet{
            justify-content: space-between;
        }
        &_cen{
            justify-content: center;
        }
    }
    &_dir_col{
        flex-direction: column;
    }
    &_center{
        align-items: center;
        justify-content: center;
    }
    &_ali_cen{
        align-items: center;
    }
}